body {
  font-family: 'Heebo', sans-serif;
}

label {
  display: block;
  margin: 10px 0;
}

header {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.page-top {
  display: inline;
}

.nav-bar {
  margin-left: 20px;
  display: inline;
}

input,
textarea,
img {
  width: 100%;
}

.submit-button {
  text-align: right;
  margin-bottom: 5%;
}

input {
  border-color: black;
}

.submit-button > input {
  width: 10%;
}

.image-box-submit > input,
.title-field > input {
  height: 35px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
