body {
  font-family: 'Heebo', sans-serif;
}

label {
  display: block;
  margin: 10px 0;
}

header {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.page-top {
  display: inline;
}

.nav-bar {
  margin-left: 20px;
  display: inline;
}

.form-container {
  position: relative;
}

input,
textarea,
img {
  width: 100%;
}

.submit-button {
  text-align: right;
  margin-bottom: 5%;

  /* display: inline; */
}

input,
button {
  border-color: black;
}

.delete-button {
  position: absolute;
  bottom: 30px;
}

.delete-button > button {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}

.submit-button > input {
  width: 10%;
  margin: auto;
}

.image-box-submit > input,
.title-field > input {
  height: 35px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

h1 {
  position: relative;
}

.new-button {
  margin-top: 20px;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  position: fixed;
  top: 250px;
  left: 20px;
  z-index: 1;
  padding: 50px 10px;
  border-radius: 6px;
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}

.modal > .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-buttons > button {
  font-size: 26px;
  width: 33%;
}

.modal-buttons > button:nth-child(2) {
  background-color: red;
}
